@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

.quotes-container {
  width: 100%;
  background-color: gold;

  &__details {
    margin: 0 20px;
    padding: 1px 0;

    &--header {
      font-family: 'Bangers', cursive;
      font-size:30px;
    }
  }
  @media (min-width: 768px) {
    border-radius: 50px;
    margin-top: 30px;
  }
}