.weather-container {
  // margin: 50px;
  width: 100%;
  background-color: rgb(113, 80, 235);

  &__details {
    margin: 0 20px;
    padding: 20px 0;

    &--header {
      font-family: 'Bangers', cursive;
      font-size: 30px;
    }
  }
  @media (min-width: 768px) {
    border-radius: 50px;
  }
}

a {
  text-decoration: none;
  font-size: small;
}