@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

.header-container {
  background-color: #43FF33;

  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Bangers', cursive;
  font-size: 4rem;
}