.sidebar {
  text-align: center;

  @media (min-width: 768px) {
    width: 40%;
    text-align: left;
    padding-left: 25px;
  }
}

.sidebar__block {
  margin-bottom: 15px;
}

.tasks-container {
  flex: 1 1 auto;
}